body {
  font-family: "Open-sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.container {  
  margin: auto;
}

img {
  margin-left: 2366px;
    margin-right: 0px;
    margin-top: 1320px;
}

/* Common Classes */
.primary-text {
  color: #fa1a50;
}

.primary-background {
  background: #fa1a50;
}

/* Header */
#main-header {
  border-bottom: 1px solid #fa1a50;
}

/* Navbar */
#navbar {
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: #888;
}
/* Hoverover */
#navbar li.current a,
#navbar a:hover {
  color: #fa1a50;
  border-bottom: 2px solid #fa1a50;
  padding-bottom: 2px;
  transition: #fa1a50 400ms ease-in-out;
}

/* Showcase */
#showcase {
  
    background-image: url('..//index_files/pic2.jpg');
    no-repeat center center;
    border-bottom: 1px solid #fa1a50;
    margin-bottom: 30px;
    background-size:100%;
    background-position: center;

    /*background-image: url('..//index_files/pic2.jpg');
    no-repeat center center;
    border-bottom: 1px solid #fa1a50;
    margin-bottom: 30px;
    background-size: auto;
    background-position: center;*/
}

#showcase .row {
  height: 600px;
}

#showcase h1 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}

#showcase p {
  color: #ccc;
  margin: 0;
  padding: 0;
}

#showcase .showcase-content { /*Letrero frente inicio*/
  background: #333;
  color: #fff;
  border-radius: 90px;
  padding-bottom: 20px;
  padding-top: 35px;
  opacity: 0.7;

  /* background: #333;
  color: #fff;
  border-radius: 90px;
  padding-bottom: 20px;
  padding-top: 35px;
  opacity: 0.9;*/
}

/* Why section */
#why h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#why p {
  color: #888;
  margin: 0;
  margin-bottom: 40px;
}

#why .fa { /*Color logos */
  font-size: 60px;
  color: #fa1a50;
}

/* Info */
#info {
  background-image: url('..//index_files/fondoRosa.jpg');
  color: #fff;
}

.img1 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

#info h2 {
  font-size: 30px;
  margin: 0;
  padding-bottom: 10px;
}

#info ul {
  list-style: none;
  padding: 0;
}

#info li {
  line-height: 2em;
  font-size: 20px;
}

/*Sub-footer, shelter*/
#shelter {
  background: #0e1111; /*Color fondo*/
  color: #fff;
  padding: 10px 0;
}

#shelter h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

#shelter ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
}

#shelter input[type="text"] {
  padding: 7px;
}

#shelter button {
  background: #222;
  color: #fff;
  padding: 10px;
  border: 0;
  margin-bottom: 15px;
}

/* Footer */
#main-footer {
  background: #fa1a50;
  color: #fff;
}

/* OGHER PAGES */
#page {
  margin-bottom: 40px;
}

/* subheader */
#subheader h1 {
  text-shadow: 1px 1px #ffffff;
}

/* SERVICES PAGE */
.services ul {
  padding: 0;
}
.services ul li {
  list-style: none;
  padding: 10px;
}

.services ul li:nth-child(odd) {
  background-color: #333;
  color: #fff;
}

.services ul li:nth-child(even) {
  background-color: #fc4c70;
  color: white;
}

/* CONTACT PAGE */
.contact form {
  background: #333;
  color: #fff;
  padding: 20px;
}

.contact form input[type="text"],
.contact form input[type="email"] {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}

.contact form textarea {
  width: 50%;
  height: 100px;
}

.contact form button {
  width: 50%;
  padding: 10px 0;
  border: 0;
  background: #222;
  color: #fff;
}

.contact form label {
  text-transform: uppercase;
}

/*Media Queries */
@media (max-width: 800px) {
  #showcase h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  #showcase .showcase-content {
    padding: 25px 10px;
  }
}
