body{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(pic2.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center;
}

   .login-page{

        width: 360px;
        /*padding: 10% 0 0;*/
        margin: auto;
        padding: 10% 25px 15px 25px;
        background: rgba(0, 0, 0, 0.2);
        -moz-border-radius: 10px 10px 0 0; 
        -webkit-border-radius: 0px 0px 0 0; 
        border-radius: 10px 10px 0 0;

        /* padding: 10% 25px 15px 25px;
        background: rgba(0, 0, 0, 0.35);
        -moz-border-radius: 10px 10px 0 0; 
        -webkit-border-radius: 10px 10px 0 0; 
        border-radius: 10px 10px 0 0;*/


}

  .form{
    position:sticky;
    z-index: 1;
    background-color: #ffffff;
    max-width: 0 auto 100px
    margin: auto 100px;
    padding: 45px;
    text-align: center;
  }

   .form input{
     font-family: "Roboto",sans-serif;
     outline: 1;
     background:  #ffffff; /*#00cc33;*/
     width: 100%;
     border: 0;
     margin: 0 0 15px;
     padding: 15px;
     box-sizing: border-box;
     font-size: 14;
   }

    .Form button{
      font-family: "Roboto"sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
    }

    .form button:hover, .form:active{
      background: #43A047;
    }

    .Form .message{
      margin: 15px 0 0;
      color: #804040;
      font-size: 14px;
    }
    .form .message a{
      color: #4CAF50;
      text-decoration: none;
    }
    .form .register-form{
      display: none;
    }
